@model IEnumerable<UnityComplex.ViewModels.SportCategoryVM>

<div class="sidebar-categories">
	<div class="head">Phân Loại Thể Thao</div>
	<ul class="main-categories">
		<li class="main-nav-list">
			<a data-toggle="collapse" href="#" aria-expanded="false" aria-controls="fruitsVegetable" class="collapsed">
				<span class="lnr lnr-arrow-left"></span> Loại sân thể thao <span class="number">(5)</span>
			</a>
			<ul class="collapse show" id="fruitsVegetable" data-toggle="collapse" aria-expanded="false" aria-controls="fruitsVegetable" style="">
				<li class="main-nav-list child"><a href="/Product/ProductList?idsport=1">Bóng đá</a></li>
				<li class="main-nav-list child"><a href="/Product/ProductList?idsport=2">Bóng chuyền</a></li>
				<li class="main-nav-list child"><a href="/Product/ProductList?idsport=3">Bóng rổ</a></li>
				<li class="main-nav-list child"><a href="/Product/ProductList?idsport=4">Cầu lông</a></li>
				<li class="main-nav-list child"><a href="/Product/ProductList?idsport=5">Tennis</a></li>
			</ul>
		</li>
	</ul>
</div>
